/**
 * Author(s): James Morris
 *
 * HEADER -  MOBILE FIRST
 *
 * Page header styles here
 *
 */

@import '../variables.less';
@import '../mixins.less';

 header.page-header {
 	background: url('/img/talking-design-illustration.jpg') top center repeat-x @colorMidGrey;
 	background-size: cover;
 	height: 300px;
 	width: 100%;
 	position: relative;
 	.intro {
 		position: absolute;
 		top: 10%;
 		left: 0;
 		width: 100%;
	    padding: 0 2rem;
	    .box-sizing();
	    @media @tab {
	 		top: 20%;
	    }
 	}
 	h1,
 	h2,
 	.intro-wrapper,
 	.author-details {
 		text-align: center;
 		padding: 0.3em;
 		color: @colorOffBlack;
 		.box-sizing();
 	}
 	h1 {
 		width: 100%;
 		margin-bottom: 0;
 		img {
 			margin: 0 auto;
 			display: block;
 			max-width: 500px;
 			width: 85%;
			@media @portrait-tab {
 				width: 100%;
 				max-width: 400px;
 			}
 			@media @tab {
 				width: 100%;
 				max-width: 700px;
 			}
 		}
 		span {
 			.hidden();
 			display: block;
 		}
 	}
 	.author-details {
	 	h2 {
	 		font-size: @sizeM;
	 		margin-top: 0;
	 	}
 		img {
 			width: 50px;
 			height: 50px;
 			display: inline-block;
 			bottom: 3px;
 			z-index: @zIndex2;
 			@media @tab {
 				width: 80px;
 				height: 80px;
  				margin: 0.8em 0;
	  		}
 		}
	}
 	.intro-wrapper {
 		max-width: 500px;
 		width: 100%;
 		margin: 0 auto;
 		color: @colorOffBlack;
 		font-size: @sizeSS;
 		background-color: rgba(238, 238, 238, 0.7);
		div {
			@media @portrait-tab {
				font-size: @sizeS;
	 		}
	 	}
 	}
	@media @portrait-tab {
		height: 450px;
		background-size: contain;
 	}
 	@media @desktop {
 		height: 500px;
 	}
 	.illustrator-credit {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0.8em 1em;
		font-size: 1.2rem;
 		background-color: rgba(238, 238, 238, 0.7);
}
 }