/**
 * Author(s): James Morris
 *
 * NAVIGATION -  MOBILE FIRST
 *
 *
 */

@import '../variables.less';
@import '../mixins.less';

nav.site-navigation {
	width: 100%;
	.box-sizing();
	&.fixed {
		position: fixed;
		top: 0;
		z-index: @zIndex3;
	}
	ul {
		float: right;
	}
	li {
		margin-right: 0.3rem;
		margin-left: 0.3rem;
		text-align: right;
		&:last-child:after {
			content: "";
			padding-right: 0;
			margin-right: 0;
		}
	}
	li a {
		letter-spacing: 0.025rem;
		color: @colorOffBlack; 
		font-weight: 600;
		&:hover {
			.transition(0.5s ease border);
			border-bottom: 1px solid;
		}
	}
}