/**
 * Author(s): James Morris
 *
 * VIDEO LISTING -  MOBILE FIRST
 *
 */

@import '../variables.less';
@import '../mixins.less';

li.video {
	margin: 2em 0;
	.video-title-wrapper {
		position: relative;
	}
	//Vid title
	h3 {
		font-size: @sizeM;
		margin: 0.4em 0;
		padding: 0.3em 0.4em 0.3em 0;
		background-color: @colorWhite;
		display: inline-block;
		position: absolute;
		bottom: -7px;
		left: 0;
	}
	h4 {
		margin-top: 0;
		margin-bottom: 0.6em;
	}
	.talk-blurb {
		font-size: @sizeSSS;
        color: @colorOffBlackL30;
	}
	iframe {
		width: 100%;
	}
	.video-coming {
		width: 100%;
		background-color: #f1f1f1;
		height: 169px;
	}
	@media @tab {
		h3 {
			font-size: @sizeL;
		}
	}
}